<!DOCTYPE html>

<html>

<head>
    <!-- <link rel="stylesheet" href="./css/styles.css"> --relative path verion -->
    <link rel="icon" href="/img/3.png">
    <link rel="stylesheet" href="/css/styles.css"> <!-- absolute path version-->
    <title>404</title>
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
   
    {{>footer}}
</body>

</html>