<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href ="/img/3.png">
    <link rel="stylesheet" href ="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p></p>
        <img class="portrait" src="/img/1.jpg">
        <p>{{message}}</p>
    </div>
    
    {{>footer}}
</body>

</html>